@using Sandbox.UI
@using Sandbox.Network
@using Sandbox.Services
@using Sandbox.Audio
@using System
@inherits PanelComponent
@implements Component.INetworkListener
@namespace Donut.UI

<root>
    <div class="left">
        <div class="current-song">
            <div>#hud.currentsong</div>
            <div>@GameManager.Instance.MusicPlayer.Title</div>
        </div>
    </div>
    <div class="center">
        <div class="donut" onclick=@GameManager.Instance.Munch></div>
        <div class="leaderboard">
            @if (GameManager.Instance.Leaderboard is not null && GameManager.Instance.LeaderboardSwitching == false)
            {
                <section class="hellyeah">
                    <i onclick=@GameManager.Instance.SwitchLeaderboard>chevron_left</i>
                    <h1>@GameManager.Instance.Leaderboard.DisplayName</h1>
                    <i onclick=@GameManager.Instance.SwitchLeaderboard>chevron_right</i>
                </section>
                <div class="entries">
                    @foreach (var entry in GameManager.Instance.Leaderboard.Entries)
                    {
                        <div class="entry @IsMe(entry)">
                            <div class="rank">@($"{entry.Rank}.")</div>
                            <div class="name">@entry.DisplayName</div>
                            <div class="value">@entry.FormattedValue</div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <div class="right">
        <div class="player-list">
            @if (GameNetworkSystem.IsActive)
            {
                @foreach (var ply in Game.ActiveScene.GetAllComponents<Player>())
                {
                    <div class="player-entry">
                        <section class="yup">
                            <img src=@($"avatar:{ply?.Network.OwnerConnection.SteamId}") class="avatar" />
                            <section class="info">
                                <label class="name">@($"{ply?.Network.OwnerConnection.DisplayName}")</label>
                                <label class="time">@(ply?.Time)</label>
                            </section>
                        </section>
                        <i class="voice">@(ply.Components.Get<Voice>().IsListening ? "mic" : "mic_off")</i>
                        @if (Connection.Host == ply?.Network.OwnerConnection)
                        {
                            <i class="host">verified</i>
                        }
                        @if (Connection.Local.SteamId == 76561198842119514 && Connection.Local != ply.Network.OwnerConnection)
                        {
                            <i class="kick" onclick=@(() => GameManager.Kick(ply.Network.OwnerConnection.SteamId))>close</i>
                        }
                    </div>
                }
            }
        </div>
        <div class="bar">
            <div class="color-picker">
                <i>palette</i>
                <span class="tooltip">
                    Coming soon...
                </span>
            </div>
            <div class="discord" onclick=@CopyDiscord />
            <div class="settings">
                <i>settings</i>
                <span class="tooltip">
                    Master Volume
                    <SliderControl @ref="MasterVolume" @Min=@(0f) @Max=@(1f) @Step=@(0.01f) @Value=@(1f) />
                    Music Volume 
                    <SliderControl @ref="MusicVolume" @Min=@(0f) @Max=@(1f) @Step=@(0.01f) @Value=@(1f) />
                    SFX Volume
                    <SliderControl @ref="UIVolume" @Min=@(0f) @Max=@(1f) @Step=@(0.01f) @Value=@(1f) />
                </span>
            </div>
            <div class="button" onclick=@Donate>Donate?</div>
        </div>
    </div>
</root>

@code
{
    private SliderControl MasterVolume;
    private SliderControl MusicVolume;
    private SliderControl UIVolume;

    protected override void OnUpdate()
    {
        if (MasterVolume == null || MusicVolume == null || UIVolume == null)
            return;

        Mixer.FindMixerByName("Master").Volume = MasterVolume.Value;
        Mixer.FindMixerByName("Music").Volume = MusicVolume.Value;
        Mixer.FindMixerByName("UI").Volume = UIVolume.Value;
    }

    private async void Donate()
    {
        if (ResourceLibrary.Get<GamePass>("data/donator.gamepass").Has())
        {
            Chatbox.Instance.AddLocalMessage("😔", $"You already own the donator perk!", "notification");
            return;
        }

        await ResourceLibrary.Get<GamePass>("data/donator.gamepass").Purchase();
    }

    private void CopyDiscord()
    {
        Clipboard.SetText("https://discord.gg/rbCJdZjewf");
        Chatbox.Instance.AddLocalMessage("😊", $"Discord invite succesfully copied to clipboard!", "notification");
    }

    private string IsMe(Leaderboards.Entry entry)
    {
        return entry.Me ? "me" : "";
    }

    protected override int BuildHash() => HashCode.Combine(RealTime.GlobalNow);
}
